body{
	font-size:20px;
	background-color:#302c2c;

}

h1{
	font-size:40px

}

.sec-A{

	background-color:grey;
	padding-left:30px;
	padding-bottom:500px;
	padding-top:30px;

	margin-left:200px;
	margin-right:200px;
}
.sec-A h2{
	text-align:center;
	background-color:orange;
	margin-left:30px;
	margin-right:30px;
	border: 2px solid black;
	border-radius:50px 100px;
}


/*BARRE DE NAV*/

ul{
	list-style:none;
	margin:5px;
	padding:0px;
	overflow:hidden;
	background-color:#2738d6;
	border-radius: 10px 100px /  120px  ;
}
li{
	float:left;
	border-right:2px solid black;

}

li a {
	display:block;
	text-align:center;
	padding:14px 16px;
	color:black;
}

li a:hover{
	background-color:lightblue;	 

}

.active{
	background-color:#37b88f;

}